<div id="post-list" class="component">
    <button (click)="onNewPost()">New Post</button>
    <ul class="list">
        <li *ngFor="let p of posts"
            [class.selected]="p === this.blogService.getCurrentDraft()"
            (click)="onSelect(p)">
            <span class="badge">{{ p.modified | myDatePipe }}</span> {{ p.title }}
        </li>
    </ul>
</div>

<div *ngIf="this.editComp">
    <app-edit 
        (deletePostEvent)="onDeletePost($event)"
        (previewEvent)="onPreviewPost()"
        class="component" 
        [username]="this.username" 
        [post]="this.blogService.getCurrentDraft()">
    </app-edit>
</div>

<div *ngIf="this.previewComp">
    <app-preview
        [post]="this.blogService.getCurrentDraft()">
    </app-preview>
</div>