<div>
    <form action="post" method="post">
        <div style="text-align: left; margin-bottom: 20px;">
            <label>Title</label>
            <div>
                <input 
                    type="text" 
                    placeholder="Write the title of your post here..." 
                    [value]="this.post?.title"/>
            </div>
        </div>
        <div style="text-align: left;">
            <label>Body</label>
            <div>
                <textarea 
                    placeholder="Write the body of your post here..."
                    [value]="this.post?.body">
                </textarea>
            </div>
        </div>
        <div>
            Last Modified: {{ this.post?.modified | myDatePipe }} 
        </div>
        <div id="buttons">          
            <button type="submit" (click)="onPreview()">Preview</button>
            <button 
                [disabled]="!this.post.unsaved" 
                [class.disabledBtn]="!this.post.unsaved"
                type="submit">
                Save
            </button> 
            <button type="submit" (click)="onDelete()">Delete</button>
        </div>
    </form>
</div>