<div style="text-align: center;">
    <form action="post" method="post">
        <div style="text-align: left; margin-bottom: 20px;">
            <label>Title</label>
            <div>
                <input type="text" placeholder="Write the title of your post here..."/>
            </div>
        </div>
        <div style="text-align: left;">
            <label>Body</label>
            <div>
                <textarea placeholder="Write the body of your post here..."></textarea>
            </div>
        </div>
        <div id="buttons">
            <button type="submit">Save</button>           
            <button type="submit">Preview</button>
            <button type="submit">Delete</button>
        </div>
    </form>
</div>